{
    "extends": "airbnb",
    "rules": {
        "indent": [2, 4],
        "no-console": [0],
        "func-names": [0]
    },
    "globals": {
        "before",
        "after",
        "describe",
        "it",
        "server",
        "assert",
        "beforeEach",
        "afterEach"
    }
}
